@import url('https://fonts.googleapis.com/css?family=Monoton');

html, body {
    height: 100%;
    background-image: url("img/CinemaBackground.jpg");
    font-family: 'Monoton', cursive;
    position: relative;
}
button{
    color: #d39600;
}

.container {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
    width:55%;
    margin-left:22.5%;
    align-content: center;
    background-color: #8d8d8d;
    bot

}
.movie-list>ul>li{
    list-style-type: none;
    /*border: 1px solid lightcoral;*/
    color:#ffbd1b;
    font-size: 1em;
}

.loading{
    width: 100%;
    height: 100%;
    background-image: url("img/countdown.gif");
    background-size:cover;
}
.new-item,.rating{
    display: inline;
    color:#ffbd1b;
}
.hide{
    display:none;
}
button.edit, button.delete{
    float:right;
}
.header{
    color:#ffbd1b;
}
h1{
    font-size: 3em;
}